//--------------------------- import -------------------------------
@import 'nav';
@import 'article';
@import 'footer';

//--------------------------- main ---------------------------------
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
}
@media screen and (max-width: 446px) {
    body {
        width: fit-content;
    } 
    footer {
        width: 100%;
    }
}